##
# .gitignore
##

node_modules

##
# Xournal and Xournal++ files.
#
*.xoj
*.xopp
*.xoj~
*.xopp~

##
# JSDoc generated stuff.
#
docs

##
# My generated libjs.js file. See ‘genlibjs.sh’ for details.
#
libjs.js
